.input {
  padding: 10px;
  margin: 0;
  border: 1px solid #1e1c1c;
  border-radius: 5px;
}

.input:not(:last-of-type) {
  margin-right: 10px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.button:hover {
  background-color: #45a049;
}